@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap");

@import "./_variables.scss";

.h-xl {
  @include apply-typography("h-xl");
}

.h-l {
  @include apply-typography("h-l");
}

.h-m {
  @include apply-typography("h-m");
}

.h-s {
  @include apply-typography("h-s");
}

.b-m {
  @include apply-typography("b-m");
}

.b-m-bold {
  @include apply-typography("b-m-bold");
}

.b-s {
  @include apply-typography("b-s");
}

.c-blue {
  @include apply-colors('blue');
}

.c-gunmetal {
  @include apply-colors('gunmetal');
}

.c-dark-electric-blue {
  @include apply-colors('dark-electric-blue');
}

.c-borders {
  @include apply-colors('borders');
}

.c-pure-white {
  @include apply-colors('pure-white');
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-family: $font-family;
  margin: 0;
  padding: 0;
}

p, h1, h2, h3, h4 {
  margin: 0;
}
